<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reeman.delige">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 访问蓝牙状态，需要蓝牙信息用于网络定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 支持A-GPS辅助定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/text_app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.DeligoRobot">
        <activity android:name=".activities.MultiMachineConfigActivity" />
        <activity android:name=".activities.CallingConfigActivity" />
        <activity android:name=".activities.MissPositionActivity" />
        <activity android:name=".activities.ReturningActivity" />
        <activity android:name=".activities.TaskExecutingActivity" />
        <activity android:name=".activities.MapBuildingActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.WiFiConnectActivity" />
        <activity android:name=".activities.LanguageSelectActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widgets.FloatEditorActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activities.MainActivity" />

        <service android:name=".service.RobotService"/>
        <service android:name=".dispatch.service.DispatchService"/>
    </application>

</manifest>